# ignore
.DS_Store
*.pyc
*.bak
.idea
.project
.tox
.pydevproject
*.egg-info
data/
env
node_modules
npm-debug.log
app/env
changelog.txt
app/project/local_settings.py
app/smedia
app/data.sqlite3
app/logs
app/media
app/public/
app/components
app/site-static/.sass-cache
app/site-static/i18n-js
app/reports
app/device_data
app/dev
app/env
app/static/CACHE

# dist built on heroku
app/site-static/css/*
app/site-static/js/*
app/site-static/dist/css/*
app/site-static/dist/js/*

doc/_build

app/notebooks/.ipynb_checkpoints
dump.rdb

celerybeat-schedule
django
